*{
   box-sizing: border-box;
   margin: 0;
}
body {
   font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
 }
 p{
   letter-spacing: 1px;
}
a{
   text-decoration: none;
   color: black;
}

.wrapper-top{
   background-image: url(../images/white_00094.jpg);
   background-size: 100px,100px;



}
h1,h2{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.header__innner{
   display: flex;
}

.header__innner__logo{
   text-align: center;
   letter-spacing: 0.5vw;
   position: fixed;
   z-index: 999;
   top: 3vh;
   left: 2vw;
}
.header__innner__list{
   top: 3vh;
   display: flex;
   list-style: none;
   position: absolute;
   right: 5.5vw;
    line-height: 4.5vw;
    position: fixed;
   z-index: 999;
}
.header__innner__list-item{
   margin-right: 3.5vw;
   color: black;
}
.header__innner__list-item:hover{
   margin-right: 3.5vw;
   color: black;
   background-color:rgba(97, 94, 94, 0.448);
}

.header__innner__list-item a{
   color: black;
}
/* ここから名前と題名*/
.main-title{
   position: relative;
   margin: 0 auto;
   text-align: center;
   background-image: url(../images//S__7168002.jpg);
   background-position:center left;
   width: 100vw;
   height: 100vh;
}
.main-title__innner{
   top: 30%;
   right: 15%;
   position: absolute;
}
.main-title__sentence{
   padding-top: 3vh;
}

.sec01{
   margin-top: 60px;
}
.sec01__inner{
   width: 100%;
   margin: 0 auto;

}
.sec01__inner__logo{
   text-align: center;
   font-weight: bold;
  font-size: 7vw;
  letter-spacing: 1vw;
  margin-bottom: 30px;

}
.sec01__box{
   position: relative;
   width: 100%;
   margin: 0 auto;
   margin-top: 60px;
   margin-bottom: 100px;
}
.bg {
   display: flex;
   justify-content: center;
}
.sec01bg {
   width:50vw;
   height: 85vh;
   z-index: -1;

}
.sec01__textbox{
   height: auto;
   position: absolute;
   top: 10%;
   left: 55%;
}
.textbox__quote{
   margin-bottom: 10vh;
   transform: rotate(-14deg);
   color:  rgb(246, 246, 51);
   font-size: 3vw;
   font-family: 'Amatic SC', cursive;
   letter-spacing: 1vh;
}
.sub_quote{
   text-align: center;
   margin-bottom: 5vh;
   font-size: 3vw;
   font-weight: normal;
   letter-spacing: 2px;

}
.sec01__introduction-photo{
   position: absolute;
   top: 20%;
   left: 10%;
}
.sec01-photo{
   width:35vw;
   height: 60vh;
}

.sec02{
   margin-top: 100px;
}
.sec02__inner__logo{
   font-weight: bold;
  font-size: 7vw;
  letter-spacing: 1vw;
}
.sec02__contents__inner{
   margin-top: 50px;
}
.sec02__box{
   margin-left: 5vw;
   width: 70vw;
   height: 50vh;
   display: flex;
   justify-content:space-around;
   background-color: #dcd0f8;
   border-radius: 30px;
   box-shadow: 2px 0px 0px 5px rgba(166, 127, 239, 1) ,7px 0px 20px 3px rgba(126, 111, 153, 1);
}

.box__phont-box{
   width: 35vw;
   height: 45vh;
   padding-top: 4vh;
   padding-left: 2vw;
   border-radius: 4%;
}
.box__text-box{

   width: 26vw;
   font-size: 1.6vw;
   display: flex;
   align-items: center;
}


.sec03{
   margin-top: 100px;
}

.sec03__inner__logo{
   text-align: right;
   font-weight: bold;
  font-size: 7vw;
  letter-spacing: 1vw;
  margin-right: 0;
}
.sec03__contents__inner{
   margin-top: 50px;

}
.sec03__box{

   margin-left: 25vw;
   width: 70vw;
   height: 50vh;
   display: flex;
   justify-content:space-around;
   background-color: #f8d0d6;
   border-radius: 30px;
   box-shadow: 2px 0px 0px 5px rgb(239, 127, 149) ,7px 0px 20px 3px rgb(153, 111, 115);
}




.sec04{
   margin-top: 100px;
}
.sec04__inner__logo{
   font-weight: bold;
  font-size: 7vw;
  letter-spacing: 1vw;
}
.sec04__contents__inner{
   margin-top: 50px;

}
.sec04__box{
   margin-left: 5vw;
   width: 70vw;
   height: 50vh;
   display: flex;
   justify-content:space-around;
   background-color: #f8f5d0;
   border-radius: 30px;
   box-shadow: 2px 0px 0px 5px rgb(239, 228, 127) ,7px 0px 20px 3px rgb(150, 153, 111);
}


.sec05{
   margin-top: 100px;

}

.sec05__inner__logo{
   font-weight: bold;
  font-size: 7vw;
  letter-spacing: 1vw;
  margin-right: 0;
  margin-left: auto;
  text-align: right;
}
.sec05__contents__inner{
   margin-top: 50px;


}
.sec05__box{


   margin-left: 25vw;
   width: 70vw;
   height: 50vh;
   display: flex;
   justify-content:space-around;
   background-color: #d0f8da;
   border-radius: 30px;
   box-shadow: 2px 0px 0px 5px rgb(127, 239, 181) ,7px 0px 20px 3px rgb(111, 153, 122);
}
.footer {
   width: 100vw;
   height: 25vh;
   display: block;
   background-color:black;
   position: relative;
   margin-top:200px;
}
.footer__inner{
   height: 100%;
   margin: 0 auto;
   text-align: center;
}
.footer__inner_copy{
   color: aliceblue;
   top: 50%;
   left: 50%;
   position: absolute;
   transform: translate(-50%, -50%);
}
.start {
	background: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9000;
   text-align: center;
}
.start p {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
	width: 600px;
   font-size: 30px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}