*{
    box-sizing: border-box;
    margin: 0;
 }
 body {
   font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
 }
 a{
    text-decoration: none;
 }
 h2{
   margin-top: 2vh;
   margin-bottom: 3vh;
 }
p{
   letter-spacing: 1px;
}
 .header__innner{
    display: flex;
 }

 .header__innner__logo{
    text-align: center;
    letter-spacing: 0.5vw;
    position: fixed;
    z-index: 999;
    top: 3vh;
    left: 2vw;
 }
 .header__innner__list{
    top: 3vh;
    display: flex;
    list-style: none;
    position: absolute;
    right: 5.5vw;
     line-height: 4.5vw;
     position: fixed;
    z-index: 999;
 }
 .header__innner__list-item{
    margin-right: 3.5vw;
    color: black;
 }
 .header__innner__list-item:hover{
   margin-right: 3.5vw;
   color: black;
   background-color:rgba(97, 94, 94, 0.448);
}


 .main-title{
    text-align: center;
 }
 .main-title__innner{
    text-decoration: underline;
    margin-top: 5vh;
 }
 .main-title__sentence{
    width: 30%;
    margin: 0 auto;
    padding-top: 2vh;
 }
 .main-title{
   margin: 0 auto;
}
.sec01__inner{
   display: flex;
   justify-content: center;
   margin-top: 10vh;
}
.sec01_economy{
   width: 40%;
   text-align: center;
   margin-right: 2vw;
}
.sec01_economy_photo_contents{
   width: 40vw;
   border-radius: 8px;
}
.sec01_environment{
   width: 40%;
   text-align: center;
   margin-left: 2vw;
}
.sec01_environment_photo_contents{
   width: 40vw;
   border-radius: 8px;
}
.sec02__box{
   margin-top: 20vh;
}
.title-economy{
   display: flex;
   align-items: center;
}
.title-economy::after {
   border-top: 3px solid;
   content: "";
   width: 9vw; /* 線の長さ */
   margin-left: 1vw;
 }
 .sec02__telework-box{
   width: 60%;
   margin-top: 10vh;
   margin-left: 27vw;
 }
 .telework-photo{
   width: 50vw;
   margin-left: 8vw;
 }
 .telework-textbox{
   width: 60vw;
   text-align: center;
   margin: 0 auto;
 }
 .sec02__rideshare-box{
   margin-top: 15vh;
   margin-left: 13vw;
 }
 .rideshare-photobox{
   display: flex;
 }
 .rideshare-photo{
   width: 30vw;
   margin-right: 1vw;
 }
 .presen-photo{
   width: 30vw;
   margin-left:1vw;
 }
 .rideshare-textbox{
   width: 60vw;
   text-align: center;
 }

 .sec03__box{
   margin-top: 20vh;
}
.title-environment{
   display: flex;
   align-items: center;
}
.title-environment::after {
   border-top: 3px solid;
   content: "";
   width: 9vw; /* 線の長さ */
   margin-left: 1vw;
 }
 .sec02__environment-box{
   width: 60%;
   margin-top: 10vh;
   margin-left: 27vw;
 }
 .fieldworl-photobox{
   display: flex;

 }
 .gomihiroi-photo{
   width: 34vw;
 margin:0 3vw;
 }
 .saisyu-photo{
   width: 20vw;
 }

 .fieldwork-textbox{
   width: 60vw;
   text-align: center;
   margin: 0 auto;
 }


 .sec03__gakuensai-box{
   margin-top: 15vh;
   margin-left: 13vw;
 }
 .gakuensai-photobox{
   display: flex;

 }
 .tumamerumizu-photo{
   width: 20vw;
 margin:0 3vw;
 }
 .gakuensai-photo{
   width: 34vw;
 }

 .gakuensai-textbox{
   width: 60vw;
   text-align: center;
 }









 .footer {
    width: 100vw;
    height: 25vh;
    display: block;
    background-color:black;
    position: relative;
    margin-top:  10vh;
 }
 .footer__inner{
    height: 100%;
    margin: 0 auto;
    text-align: center;
 }
 .footer__inner_copy{
    color: aliceblue;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
 }
 .start {
	background: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9000;
   text-align: center;
}
.start p {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
	width: 600px;
   font-size: 30px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}