*{
    box-sizing: border-box;
    margin: 0;
 }
 .fadein-box{
  opacity: 0;
  transform: translate(0 50px);
  transition:  2s;
}
/*スクロールで出てくる要素*/
.action{
  opacity: 1;
  transform: translate(0 0);
}
 body {
  font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}
p{
  letter-spacing: 1px;
}
 a{
    text-decoration: none;
 }

 .header__innner{
    display: flex;
 }
 .header__innner__logo{
    text-align: center;
    letter-spacing: 0.5vw;
    position: fixed;
    z-index: 999;
    top: 3vh;
    left: 2vw;
 }
 .header__innner__list{
    top: 3vh;
    display: flex;
    list-style: none;
    position: absolute;
    right: 5.5vw;
     line-height: 4.5vw;
     position: fixed;
    z-index: 999;
 }
 .header__innner__list-item{
    margin-right: 3.5vw;
    color: black;
 }
 .header__innner__list-item:hover{
  margin-right: 3.5vw;
  color: black;
  background-color:rgba(97, 94, 94, 0.448);
}
.header__innner__list-item:hover{
  margin-right: 3.5vw;
  color: black;
  background-color:rgba(97, 94, 94, 0.448);
}
 .main-title{
    text-align: center;
 }
 .main-title__innner{
    text-decoration: underline;
    margin-top: 5vh;
 }
 .main-title__sentence{
    width: 30%;
    margin: 0 auto;
    padding-top: 2vh;
 }
 .main-title{
   margin: 0 auto;
}
.sec01__box{
    margin-top: 10vh;
 }
 .title-career{
    display: flex;
    align-items: center;
 }
 .title-career::after {
    border-top: 3px solid;
    content: "";
    width: 9vw; /* 線の長さ */
    margin-left: 1vw;
  }
  .career-photobox{
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
  }
  .yousyouki-photo{
    width:20vw;
    margin:1vw;
    height: 40vh;
  }
  .syougaku-photo{
    width:20vw;
    margin:1vw;
    height: 40vh;
  }
  .tyugaku-photo{
    width:20vw;
    margin:1vw;
    height: 40vh;
  }
  .koukou-photo{
    width:20vw;
    margin:1vw;
    height: 40vh;
  }
  .career-textbox{
    width: 80%;
    margin: 0 auto;
  }
  .sec02__box{
    margin-top: 4vh;
 }
 .title-charm{
    display: flex;
    align-items: center;
 }
 .title-charm::after {
    border-top: 3px solid;
    content: "";
    width: 9vw; /* 線の長さ */
    margin-left: 1vw;
  }

  .sec02__katuo-box{
    width: 60%;
    margin-top: 10vh;
    margin-left: 27vw;
  }
  .katuo-photo{
    width: 50vw;
    margin-left: 7vw;
  }
  .katuo-textbox{
    width: 60vw;
    text-align: center;
   margin: 0 auto;
  }



.sec02__gyouza-box{
    width: 60%;
    margin-top: 10vh;
    margin-left: 8vw;
  }
  .gyouza-photo{
    width: 50vw;
    margin-left: 8vw;
  }
  .gyouza-textbox{
    width: 60vw;
    text-align: center;
    margin: 0 auto;
  }
  .sec02__museum-box{
    width: 60%;
    margin-top: 10vh;
    margin-left: 8vw;
  }

  .museum-photo{
    width: 50vw;
    margin-left: 8vw;
  }
  .museum-textbox{
    width: 60vw;
    text-align: center;
    margin: 0 auto;
  }

  .sec02__river-box{
    width: 60%;
    margin-top: 10vh;
    margin-left: 27vw;

  }
  .river-photo{
    width: 50vw;
    margin-left: 8vw;
  }
  .river-textbox{
    width: 60vw;
    text-align: center;
    margin: 0 auto;
  }.sec02__hotel-box{
    width: 60%;
    margin-top: 10vh;
    margin-left: 27vw;
  }

  .hotel-photo{
    width: 50vw;
    margin-left: 8vw;
  }
  .hotel-textbox{
    width: 60vw;
    text-align: center;
    margin: 0 auto;
  }.sec01__hotel-box{
    width: 60%;
    margin-top: 10vh;
    margin-left: 27vw;
  }
  .hotel-photo{
    width: 50vw;
    margin-left: 3vw;
  }
  .hotel-textbox{
    width: 60vw;
    text-align: center;
    margin: 0 auto;
  }


  .footer {
    width: 100vw;
    height: 25vh;
    display: block;
    background-color:black;
    position: relative;
    margin-top:  10vh;
 }
 .footer__inner{
    height: 100%;
    margin: 0 auto;
    text-align: center;
 }
 .footer__inner_copy{
    color: aliceblue;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
 }
 .start {
	background: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9000;
   text-align: center;
}
.start p {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
	width: 600px;
   font-size: 30px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}